body{
    font: 16px Calibri, sans-serif;
}
#main
{
    width: 100%;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
    /* background-a: url("../images/background1.jpg");*/
    /* background-repeat: no-repeat;*/
    background-size:100% 100%;
    min-height: 400px;
    min-width: 1200px;
    max-height: 1000px;
}
#mainbox
{
   /*background-color: #BAD537;*/
   width: 100%;
   height: 100%;
   margin: auto;
   background-color: rgba(25, 25, 25, 0.70);
}
#mainbox_contents
{
    /*background-color: #BAD537;*/
    width: 90%;
    height: 100%;
    margin: auto;
}
#invitebox
{
    background-color: rgba(255, 255, 255, 0.70);
    color:black;
}
#showfriends
{
   margin: auto;
   overflow-y: scroll;
   text-align: left;
   width: 75%;
   height: 70%;
   border:2px solid white;
   float:left;

}
#label
{
    color: lightgrey;
    font-size: 16px;
}
#filter
{
    width:60%;
    font-size: 16px;
    border-radius: 4px;
    padding-left: 1%;
    background-color: transparent;
    color:white;
}
#filter:focus
{
    background-color: rgba(100, 100, 100, 0.70);
}
#showfriendsresults
{
    margin: auto;
    width: 90%;
}
#divfriends
{
    float:left;
    width: 46%;
    border-radius:5px;
    background-color: rgba(255, 255, 255, 0.70);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    /*border: 5px 5px 5px 5px; */
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
#button
 {
     float:left;
     margin-left: 10%;
     margin-top: 15%;
 }
.button {
    background-color:#bbd537;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0px;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:133px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
}
.button:hover
{
background-color:#8cb82b;
cursor: hand;
}
.button:active
{
position:relative;
    top:1px;
}
#pic
{
    float:left;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#textname
{
    float:left;
    width:50%;
    margin-top: 6%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.invitebutton
{
    float:right;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.invitebutton
{
    background-color:#bbd537;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0px;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:59px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
}
.invitebutton:hover
 {
     background-color:#8cb82b;
     cursor: hand;
 }
.invitebutton:active
{
      position:relative;
      top:1px;
  }
#step
{
    font-size: 50px;
    color: lightgrey;
}
#step_description
{
    font-size: 25px;
    color: lightgrey;
    margin: auto;
}
#step_details
{
    padding-left: 15px;
    padding-right: 15px;
    color: lightgrey;
}
#loggedin
{
    float:right;
    color: lightgrey;
    padding-right: 5px;
    margin-right: 3%;
}
#loader
{
    margin-top:20%;
    margin-left:40%;
    color: lightgrey;
}
