.popup
{
    display:none;
    position: absolute;
    background-color: black;
    background-color: rgba(25, 25, 25, 0.95);
    border-radius: 10px;
    border:5px solid white;
    width:40%;
    height:70%;
    margin-left:30%;
    margin-right:30%;
    margin-top:5%;
    overflow-y: auto;
    color:lightgrey;
    padding-top:10px;
    padding-bottom:10px;
    z-index: 50000;
}
.popup_endorse
{
    display:none;
    position: absolute;
    background-color: black;
    background-color: rgba(25, 25, 25, 0.95);
    border-radius: 10px;
    border:5px solid white;
    margin-left:30%;
    margin-right:30%;
    margin-top:5%;
    color:lightgrey;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right:10px;
    z-index: 50000;
}
#overlay
{
    position:absolute;
    display:none;
    width:99%;
    height:97%;
    background-color: rgba(25, 25, 25, 0.7);
    min-height: 400px;
    min-width: 1200px;
    z-index: 1000;
}
#popup_aboutme
{
    font-size: 130%;
    width:500px;
}
#pop_hobby
{
    float:left;
    font-size: 130%;
    color:white;
    padding-left: 5%;
}
#pop_about
{
    float:left;
    width: 150px;
    height:100px;
    margin-left: 12%;
    margin-bottom: 3%;
    background-repeat: no-repeat;
    background-size:contain;
    padding-top: 40px;
    color:white;
    text-align: center;
    font-size: 70%;
}

#pop_what
{
    color:white;
    font-size: 100%;
}
#pop_endorse_nr1
{
    float:left;
    font-size: 130%
}
#pop_details
{
    float:left;
    padding-left: 13%;
}
#pop_endorse_nr2
{
    background-image: url("../images/endorse_nr.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:40px;
    height:30px;
    text-align: center;
    padding-top: 8px;
    margin-left: 33%;
    color:black;
}
#pop_show_nr_endorsement
{
    float:left;
    font-size: 20px;
    padding-left: 5px;
}
#login_message
{
    float:left;
}
.fb-login-button
{
    float:left;
    margin-left:3%;
 }
#endorse_popup1
{
    color:white;
}
#endorse_popup1:hover
{
    text-decoration: underline;
    cursor: hand;
}
#messsagetext
{

}
#content
{
    width:400px;
    height:200px;
    max-width: 500px;
    max-height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font: 16px Calibri, sans-serif;
}
#sendmessage
{
    background-color: lightgrey;
}
#send
{
    margin-left: 75%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.smallbutton
{
    margin-left: 5px;
    background-color:#bbd537;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0px;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:59px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
}
.smallbutton:hover
{
    background-color:#8cb82b;
    cursor: hand;
}
.smallbutton:active
{
    position:relative;
    top:1px;
}
#titles
{
    color:white;
    padding-left: 2%;
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}
#addhobby
{
    float:left;
    width:50%;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    padding-left: 1%;
    border:0px;
    background-color: rgba(100, 100, 100, 0.70);
    color:white;
}
#addhobby:focus
{
    background-color: rgba(100, 100, 100, 0.70);
}
#deletecircle
{
    float:left;
    margin-left: 60px;
    margin-top: 10%;
    font-weight: bold;
    color:red;
    font-size: 20px;
    font-weight: bold;

}
#deletecircle:hover
{
    cursor: hand;
}
#what
{
    font-size: 130%;
    text-align: center;
    color:white;
}
#details
{
    float:left;
    width:40%;
}
#detailsinput
{
    float:left;
    margin-top:1%;
    margin-left: 3%;
    width:80%;
    font-size: 18px;
    border-radius: 4px;
    border: 0px;
    padding-left: 1%;
    background-color: rgba(100, 100, 100, 0.70);
    color:white;
}
#detailsinput:focus
{
    background-color: rgba(100, 100, 100, 0.70);
}
#hobbydetails
{
    float:left;
    width:80%;
    font-size: 20px;
    color:white;
    padding-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#hobby_name
{
    float:left;
    width:20%;
}
#button
{
    margin-top: 5%;
    margin-left: 2%;
}
#errormsg
{
    margin-top: 1.3%;
    float:left;
    margin-left:2%;
    background-color: orange;
    color:white;
    font-size: 16px;
    border-radius: 4px;
    padding-left: 3px;
    padding-right: 3px;
}