.popup
{
    display:none;
    position: absolute;
    background-color: black;
    background-color: rgba(25, 25, 25, 0.95);
    border-radius: 10px;
    border:5px solid white;
    width:40%;
    height:70%;
    margin-left:30%;
    margin-right:30%;
    margin-top:5%;
    overflow-y: auto;
    color:lightgrey;
    padding-top:10px;
    padding-bottom:10px;
    z-index: 50000;
}
.popup_endorse
{
    display:none;
    position: absolute;
    background-color: black;
    background-color: rgba(25, 25, 25, 0.95);
    border-radius: 10px;
    border:5px solid white;
    margin-left:30%;
    margin-right:30%;
    margin-top:5%;
    overflow-y: auto;
    color:lightgrey;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right:10px;
    z-index: 50000;
}
#overlay
{
    position:absolute;
    display:none;
    width:99%;
    height:97%;
    background-color: rgba(25, 25, 25, 0.7);
    min-height: 400px;
    min-width: 1200px;
    z-index: 1000;
}
#popup_aboutme
{
    font-size: 130%;
    width:500px;
}
#pop_hobby
{
    float:left;
    font-size: 130%;
    color:white;
    padding-left: 5%;
}
#pop_about
{
    float:left;
    width: 150px;
    height:100px;
    margin-left: 12%;
    margin-bottom: 3%;
    background-repeat: no-repeat;
    background-size:contain;
    padding-top: 40px;
    color:white;
    text-align: center;
    font-size: 70%;
}

#pop_what
{
    color:white;
    font-size: 100%;
}
#pop_endorse_nr1
{
    float:left;
    font-size: 130%
}
#pop_details
{
    float:left;
    padding-left: 13%;
}
#pop_endorse_nr2
{
    background-image: url("../images/endorse_nr.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:40px;
    height:30px;
    text-align: center;
    padding-top: 8px;
    margin-left: 33%;
    color:black;
}
#pop_show_nr_endorsement
{
    float:left;
    font-size: 20px;
    padding-left: 5px;
}
#login_message
{
    float:left;
}
.fb-login-button
{
    float:left;
    margin-left:3%;
 }
#endorse_popup1
{
    color:white;
}
#endorse_popup1:hover
{
    text-decoration: underline;
    cursor: hand;
}