body{
    font: 16px Calibri, sans-serif;
}
#main
{
    width: 100%;
    height: 650px;
    margin-left:auto;
    margin-right:auto;
    /* background-a: url("../images/background1.jpg");*/
    /* background-repeat: no-repeat;*/
    background-size:100% 100%;
    min-height: 400px;
    min-width: 1200px;
    max-height: 1000px;
}
#mainbox
{
    /*background-color: #BAD537;*/
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(25, 25, 25, 0.70);
}
#mainbox_contents
{
    /*background-color: #BAD537;*/
    width: 100%;
    height: 95%;
    margin: auto;
}
#searchbox
{
    margin-left: 15%;
    width: auto%;
}
#search
{
    width:50%;
    height:5%;
    font-size: 16px;
    border-radius: 4px;
    padding-left: 1%;
    margin-bottom: 2%;
    background-color: rgba(60, 60, 60, 0.70);
    color:white;
}
#search:focus
{
    background-color: rgba(100, 100, 100, 0.70);
}
#titles
{
    color:white;
    width: 65%;
    margin-left: 11%;
    margin-bottom: 1%;
    height:3%;
    background-color: rgba(10, 10, 10, 0.70);
    padding-left: 3%;
    padding-top:1%;
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: bold;
}
#resultsbox
{
    float:left;
    margin-left: 10%;
    overflow-y: auto;
    height:80%;
    width:68%;
}
#showSearchResults
{
    width: 100%;
    height: 95%;
    /*border: 1px solid;*/
}
#user
{
    background-color: rgba(50, 50, 50, 0.70);
    color:white;
    width:43%;
    height:27%;
    margin-top: 3%;
    margin-left:3%;
    padding-left: 1%;
    float:left;
    border-radius: 10px;

}
#profile_info_left
{
    float:left;
    width:26%;
    margin-bottom: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#pic
{
    float:left;
}
#pic img
{
    width:100%;
    height:70%;
}
#username
{
    float:left;
    color:orange;
    background-color: rgba(10, 10, 10, 0.70);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width:100%;
}
#profile_info
{
    float:left;
    width:69%;
    padding-top:4%;
    padding-left: 5%;
}
#cur_location
{
    float:left;
}
#hobby
{
    float:left;
    font-size: 110%;
}
#endorse_nr1
{
    float:left;
    padding-left: 1%;
}
#show_nr_endorsement
{
    float:left;
    padding-left: 1%;
    font-size: 18px;
}
#interact
{
    float:left;
    margin-top: 6%;
    width:100%;
}
#pic_interact
{
    float:left;
}
#viewprofile
{
    float:left;
    width:30%;
}
#viewprofile:hover {cursor:hand;}
#message
{
    float:left;
    width:38%;
    margin-left: 15%;
}
#message:hover  {cursor:hand;}
#text
{
    float:left;
    margin-left: 5%;
    margin-top: 3%;
}
#loader
{
    margin-top:20%;
    margin-left:40%;
    color: lightgrey;
}
